@import 'src/styles/variables';

.section {
	color: $white-color;
	margin-bottom: 70px;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-items: center;
	grid-gap: 32px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wrapper {
}

.description {
	display: flex;
	background-image: url('/hero-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-between;
	@media (max-width: 1200px) {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 40px 0;
	}
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	> h1 {
		width: max-content;
	}
	> img {
		transform: translateY(170px);
	}

	@media (max-width: 1200px) {
		> h1 {
			margin-bottom: 20px;
		}
		> img {
			transform: translateY(0);
		}
	}
}

.credits {
	display: flex;
	flex-direction: column;
	*:not(:first-child) {
		margin-top: 115px;
	}
	width: 100%;
	align-self: flex-start;

	@media (max-width: 1200px) {
		margin-top: 40px;
		> h2 {
			font-size: 36px;
		}
	}
}

.experience {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	*:last-child {
		margin-left: 40px;
	}

	@media (max-width: 1200px) {
		justify-content: space-between;
	}
}
