.section {
	margin-bottom: 50px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;
}

.heading {
	margin-bottom: 40px;
}

@media (max-width: 768px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 474px) {
	.wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}
