@import 'src/styles/variables';

.section {
	color: $white-color;
	margin-bottom: 70px;
}

.description {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: space-between;
	padding-top: 110px;
	background-image: url('/hero-bg.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		max-width: 100%;
	}
	img {
		max-width: 90%;
		transform: translateY(170px);
	}
}

.credits {
	display: flex;
	flex-direction: column;
	*:not(:first-child) {
		margin-top: 115px;
	}
	max-width: 100%;
	align-self: flex-start;
	h2 {
		max-width: min-content;
	}
	p {
		max-width: 85%;
	}
}

.experience {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	*:last-child {
		margin-left: 40px;
	}
	img {
		max-width: 40%;
	}
}

@media (max-width: 1440px) {
	.title {
		h1 {
			font-size: 105px;
		}
		img {
			transform: translateY(48px);
		}
	}
	.credits {
		h2 {
			font-size: 48px;
		}
	}
	.experience {
		justify-content: space-between;
	}
}

@media (max-width: 1200px) {
	.credits {
		*:not(:first-child) {
			margin-top: 50px;
		}
		p {
			font-size: 24px;
		}
	}
}

@media (max-width: 1090px) {
	.description {
		grid-template-columns: 1fr;
		padding-top: 55px;
		background-size: 100% 75%;
		background-position: top center;
		text-align: center;
	}
	.title {
		h1 {
			font-size: 85px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 37px;
		}
		img {
			width: 105%;
			max-width: none;
		}
	}
	.experience {
		margin-top: 60px;
	}
	.credits {
		display: flex;
		align-items: center;
		margin: 60px 0 60px;
		color: $black-color;
		text-align: center;
		p {
			max-width: 100%;
		}
	}
}

@media (max-width: 820px) {
	.title {
		h1 {
			font-size: 65px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 28px;
		}
	}
	.credits {
		p {
			font-size: 16px;
		}
	}
}

// /* Small phones */
// @media (max-width: 575px) { ... }

// /* Phones */
// @media (min-width: 576px) and (max-width: 767px) { ... }

// /* Tablets */
// @media (min-width: 768px) and (max-width: 991px) { ... }

// /* Desktops */
// @media (min-width: 992px) and (max-width: 1199px) { ... }

// /* Extra large devices */
// @media (min-width: 1200px) { ...
