@import 'src/styles/variables';

.footer {
	display: flex;
	flex-direction: row;
	font-size: 22px;
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: column;
}

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	> a {
		font-size: 26px;
		color: $black-color;
		text-decoration-line: underline;
		&::before {
			content: url('/link-icon.svg');
			margin-right: 8px;
		}
	}
}

.line {
	margin: 40px 0 40px !important;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav {
	li {
		display: inline-block;
	}
	li + li {
		margin-left: 80px;
	}
}
