@import 'src/styles/variables';

.footer {
	display: flex;
	flex-direction: row;
	font-size: 22px;
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: column;
}

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	> a {
		font-size: 26px;
		color: $black-color;
		text-decoration-line: underline;
		&::before {
			content: url('/link-icon.svg');
			margin-right: 8px;
		}
	}
}

.line {
	margin: 40px 0 40px !important;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav {
	li + li {
		margin-left: 80px;
	}
	li {
		display: inline-block;
		&:hover {
			transition: all 0.1s cubic-bezier(0, 0.57, 0.4, 0.09);
			transform: translateY(-4px);
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 0;
			height: 1.5px;
			margin-top: 10px;
			background-color: black;
			transition: all 0.15s cubic-bezier(0, 0.57, 0.4, 0.09);
		}
		&:hover::after {
			width: 100%;
		}
	}
}
