@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@font-face {
	font-family: 'Monument Extended';
	src: url('src/assets/fonts/MonumentExtended-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
