@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
	font-family: 'Monument Extended';
	src: url('/fonts/MonumentExtended-Regular.otf') format('opentype'),
		url('/fonts/MonumentExtended-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}
