.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.content {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.image_container {
	height: 500px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	&:hover {
		border-radius: 10px;
	}
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	&:hover {
		transform: scale(1.1);
	}
}

@media (max-width: 768px) {
	.image_container {
		height: 380px;
	}
}
