@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/src/styles/fonts.scss');
@import url('/src/styles/common.scss');

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

h1,
h2,
h3 {
	@apply font-monumentExt uppercase text-3xl;
}

h1 {
	@apply text-6xl;
}

.container {
	@apply max-w-none mx-auto py-[80px] px-[60px];
}

.line {
	@apply w-full border-t-2 border-white opacity-25 mb-10;
}
