@import 'src/styles/variables';

.footer {
	display: flex;
	flex-direction: row;
	font-size: 22px;
	margin-bottom: 20px;
	line-height: 100%;
	@media (max-width: 1090px) {
		flex-direction: column;
	}
}

.container {
	display: flex;
	flex-direction: column;
}

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 100%;
	transition: all 0.1s cubic-bezier(0, 0.57, 0.4, 0.09);
	a {
		font-size: 26px;
		color: $black-color;
		text-decoration-line: underline;
		text-decoration-skip-ink: none;
		text-underline-offset: 0.2em;
		&::before {
			content: url('/icons/link-icon.svg');
			margin-right: 8px;
		}
		&:hover {
			text-decoration: none;
		}
	}
	@media (max-width: 1090px) {
		flex-direction: column;
		a {
			margin-top: 20px;
			&:last-child {
				margin-bottom: 30px;
			}
		}
	}
}

.line {
	margin: 40px 0 40px !important;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media (max-width: 900px) {
		flex-direction: column;
	}
}

.nav {
	li + li {
		margin-left: 80px;
	}
	li {
		display: inline-block;
		&:hover {
			transition: all 0.1s cubic-bezier(0, 0.57, 0.4, 0.09);
			transform: translateY(-4px);
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 0;
			height: 1.5px;
			margin-top: 10px;
			background-color: black;
			transition: all 0.15s cubic-bezier(0, 0.57, 0.4, 0.09);
		}
		&:hover::after {
			width: 100%;
		}
	}

	@media (max-width: 900px) {
		display: flex;
		flex-direction: column;
		li + li {
			margin-left: 0;
		}
		li {
			margin-top: 15px;
		}
	}
}
