@import './variables';

body {
	min-width: 375px;
	font-family: 'DM Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $white-color;
	font-size: 14px;
	line-height: (12/24);
	line-height: 90%;
}

section {
	width: 100%;
}

svg,
img {
	vertical-align: middle;
}
