@import 'src/styles/variables';

.skills {
	color: $black-color;
	margin-bottom: 60px;
}

.skillsList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: square;
	list-style-position: inside;
	margin-top: 25px;
	ul {
		width: 300px;
		height: 150px;
		padding: 10px;
		overflow-y: auto;
	}
	> li {
		list-style-image: url('/bullet-point.svg');
	}
}
