.header {
	display: flex;
	flex-direction: row;
	font-size: 22px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	width: 100%;
}

.nav {
	display: flex;
	li + li {
		margin-left: 80px;
	}
	@media (max-width: 820px) {
		display: none;
	}
}

.navOpen {
	display: flex;
	li + li {
		margin-left: 80px;
	}
}
