.header {
	display: flex;
	flex-direction: row;
	right: 0;
	left: 0;
	font-size: 22px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	width: 100%;
}

.nav {
	display: flex;
	li {
		display: inline-block;
	}
	li + li {
		margin-left: 80px;
	}
}
