.header {
	display: flex;
	flex-direction: row;
	font-size: 22px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	width: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 8px;
	align-items: center;
}

.nav {
	display: flex;
	li {
		display: inline-block;
	}
	li + li {
		margin-left: 80px;
	}
}
